html, body {
    height: 100%;
    margin: 0;
}

h2 {
    margin: 0;
}

div {
    margin: 0;
}

#header {
    padding: 8px;
}

#application {
    padding: 8px;
}

svg text.info {
    font: bold 150px sans-serif;
}

#header {
    height: 50px;
}

#legend_list {
    padding: 0px 0px 0px 20px;
}

.legend {
    font: bold 16px sans-serif;
}

#application {
    height: 95%;
}

#interaction {
    float: left;
    width: 15%;
    height: 100%;
}

#graph_div {
    height: 100%;
    float: right;
    width: 85%;
}
